.md-feedback {
    margin: 2em 0 1em;
    text-align: center;
}

.md-feedback__title {
    font-weight: 700;
    margin: 1em auto;
}

.md-feedback__inner {
    position: relative;
}

.md-feedback__list {
    align-content: baseline;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}

.md-feedback__note {
    opacity: 0;
    position: relative;
    transform: translateY(0.4rem);
    transition: transform .4s cubic-bezier(.1,.7,.1,1),opacity .15s;
}

legend {
    display: block;
    padding-inline-start: 2px;
    padding-inline-end: 2px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
}

form {
    display: block;
}

fieldset {
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
    border-width: 2px;
    border-style: groove;
    border-color: rgb(192, 192, 192);
    border-image: initial;
}